<!doctype html>
<html>
  <head>
    <title>404 - Template</title>
  </head>
  <body>
    <h1>404 Not found Error</h1>
    <p>Maybe the time will help you: The time now is: <%= new Date() %></p>
  </body>
</html>