<div class="titlu">
        
    <h2>How to become a
        GOOD Theoretical Physicist</h2>
    <p>This is a web site (under construction) for young students - 
        and anyone else - who are (like me) thrilled by the challenges 
        posed by real science, and who are - like me - determined to use 
        their brains to discover new things about the physical world that
         we are living in. In short, it is for all those who decided to study 
         theoretical physics, in their own time.</p>

</div>
<div class="search">
    <div class="row">
        <div class="left" style="background-color:rgb(177, 125, 192);">
      
          <input type="text" id="mySearch" placeholder="Search.." title="Type in a category">
          <ul id="myMenu">
    
          </ul>
        </div>
        
      
    </div>
</div>
<div class="carduri">
    <div class="container">
      <div class="box" style="background-color: linear-gradient(315deg, #c0af81, #ff0058);">
        <span></span>
        <div class="box-content">
            <h2>Loading ...</h2>
        </div>

      </div>
    </div>
</div>
      

<%- contentFor('header') %>
<link href="css/styles.css" rel="stylesheet">

<script src="js/main.js"> </script>