.wrapper {
  display: grid;
  width: 100%;
  grid-template-areas: "dropbar dropbar"
                        "sidebar content"
                        "sidebar foot";
  grid-template-rows: min-content;
  min-height: 100vh;
  grid-template-columns: auto 6fr;
}

body {
  margin: 0;
  font-family: consolas;
}

.content{
    display: grid;
    width:100%;
    grid-template-areas: "titlu"
                         "search"
                         "carduri";
    grid-template-rows: auto;

}

.foot  {
  grid-area: foot;
  color: white;
  padding: 1em;
}

  
  /* //////////////////// */
  .dropbar{
      grid-area: dropbar;
  }
  
  /* A simple, css only, (some-what) responsive menu */
  
  /* body { 
    background: #ccc;
    font-family: helvetica, arial, serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
  } */
   
  .wrap {
    display: inline-block;
    -webkit-box-shadow: 0 0 70px #fff;
    -moz-box-shadow: 0 0 70px #fff;
    box-shadow: 0 0 70px #fff;
    margin-top: 40px;
  }
  
  
  
  a {
    text-decoration: none;
    color: #f6d1d8;
    display: block;
  }
  
  ul {
    list-style: none;
    position: relative;
    text-align: left;
  }
  
  li {
    float: left;
  }
  
  /* clear'n floats */
  ul:after {
    clear: both;
  }
  
  ul:before,
  ul:after {
      content: " ";
      display: table;
  }
  
  nav {
    position: relative;
    background: #2B2B2B;
    background-image: -webkit-linear-gradient(bottom, #b37fd5 7%, #390c33 100%);
    /* background-image: -moz-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: -o-linear-gradient(bottom, #2B2B2B 7%, #333333 100%);
    background-image: linear-gradient(bottom, #2B2B2B 7%, #333333 100%); */
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #f43a3a;
    -webkit-box-shadow: 2px 2px 3px #888;
    -moz-box-shadow: 2px 2px 3px #888;
    box-shadow: 2px 2px 3px #888;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  
  /* prime */
  ul.primary li a {
    display: block;
    padding: 20px 30px;
    border-right: 1px solid #3D3D3D;
  }
  
  ul.primary li:last-child a {
    border-right: none;
  }
  
  ul.primary li a:hover {
    
    color: #000;
  }
  
  /* subs */
  ul.sub {
    position: absolute;
    /* z-index: 200; */
    box-shadow: 2px 2px 0 #BEBEBE;
    width: 35%;
    display:none;
  }
  
  ul.sub li {
    float: none;
    margin: 0;
  }
  
  ul.sub li a {
    border-bottom: 1px dotted #ccc;
    border-right: none;
    color: #000;
    padding: 15px 30px;
  }
  
  ul.sub li:last-child a {
    border-bottom: none;
  }
  
  ul.sub li a:hover {
    color: #000;
    background: #eeeeee;
  }
  
  /* sub display*/
  ul.primary li:hover ul {
    display: block;
    background: #fff;
  }
  
  /* keeps the tab background white */
  ul.primary li:hover a {
    background: #fff;
    color: #666;
    text-shadow: none;
  }
  
  ul.primary li:hover > a{
    color: #000;
  } 
  
  @media only screen and (max-width: 600px) {
    .decor {
      padding: 3px;
    }
    
    .wrap {
      width: 100%;
      margin-top: 0px;
    }
    
     li {
      float: none;
    }
    
    ul.primary li:hover a {
      background: none;
      color: #8B8B8B;
      text-shadow: 1px 1px #000;
    }
  
    ul.primary li:hover ul {
      display: block;
      background: #272727;
      color: #fff;
    }
    
    ul.sub {
      display: block;  
      position: static;
      box-shadow: none;
      width: 100%;
    }
    
    ul.sub li a {
      background: #272727;
        border: none;
      color: #8B8B8B;
    }
    
    ul.sub li a:hover {
      color: #ccc;
      background: none;
    }
  }
  /* /////////////////// */
  
  
  .card {
      border-radius: 6px;
      box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
      background-color: #FFFFFF;
      color: #252422;
      margin-bottom: 20px;
      position: relative;
      z-index: 1;
  }
  .sidebar {
    grid-area: sidebar;
    background-color: #E2F9E5;
    min-width: 150px;
    margin-top: 3em;
    border: 2px solid #E2F9E5;
    border-radius: 10px;
    margin-left: 1em;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    margin-top: 0.2em;
  }
   
  .sidebar a.active {
    background-color: #53093dfe;
    color: white;
    border: 1px solid #53093dfe;
    border-radius: 10px;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
    border: 1px solid #555;
    border-radius: 10px;
  }
  
  div.content {
    grid-area: content;
  
    padding: 0.8em;
    /* padding-top: 1em; */
    /* height: 1000px; */
  }
  
  @media screen and (max-width: 700px) {
    .sidebar a {float: left;}
    .wrapper {
      grid-template-areas: "dropbar"
                           "content"
                           "foot";
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
    .sidebar {
      display: none;
    };
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
    .wrapper {
      grid-template-areas: "dropbar"
                           "content"
                           "foot";
      grid-template-columns: 1fr;
    }
  }
  
  /* * {
    box-sizing: border-box;
  } */
  
  .titlu {
      grid-area: titlu;
      color: #f1f1f1;
      margin: 2em;
  }
  
  .titlu > p {
      margin-top: 1em;
  }
  .search{
      grid-area:search;
  }
  
  .carduri{
      grid-area: carduri;
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
  }

  .carduri .container {
    width: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    /* min-height: 100vh; */
    background: #1d061a
  }
  
  .container
  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  
  .container .box
  {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
  }
  
  .container .box::before
  {
    content:' ';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    background: #fff;
    border-radius: 8px;
    transform: skewX(5deg);
    transition: 0.5s;
  }
  
  .container .box::after
  {
    content:'';
    position: absolute;
    top: 0;
    left: 50;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(5deg);
    transition: 0.5s;
    filter: blur(30px);
  }
  
  .container .box:hover:before,
  .container .box:hover:after
  {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
    
  }
  
  .container .box::after,
  .container .box::before {
    background: var(--back-value);
  }
  
  .container .box span
  {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
  }
  
  .container .box span::before
  {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.1s;  
    animation: animate 2s ease-in-out infinite; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.08)
  } 
  
  .container .box:hover span::before
  {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  .container .box span::after
  {
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation-delay: -1s;
  }
  
  .container .box:hover span:after
  {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
  }
  
  @keyframes animate
  {
    0%, 100%
    {
      transform: translateY(10px);
    }
    
    50%
    {
      transform: translate(-10px);
    }
  }
  
  .container .box .box-content
  {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1;
    transform: 0.5s;
    color: #fff;
  }
  
  .container .box:hover .box-content
  {
    left: -25px;
    padding: 60px 40px;
  }
  
  .container .box .box-content h2
  {
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.1px #F8F8F8;
    text-shadow: 0px 1px 4px #4a3838;
  }
  
  .container .box .box-content p
  {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
    -webkit-text-stroke: 0.2px #F8F8F8;
    text-shadow: 0px 1px 4px #000000;
  }
  
  .container .box .box-content a
  {
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
  }
  
  .container .box .box-content a:hover
  {
    background: #ffcf4d;
    border: 1px solid rgba(255, 0, 88, 0.4);
    box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
  }
  
  /* /////////////// */
  
  /* Create a column layout with Flexbox */
  .row {
    display: flex;
    margin-left: 2em;
    margin-right: 2em;
    
  }
  
  /* Left column (menu) */
  .left {
    flex: 100%;
    padding: 15px;
    border-radius: 10px;
  }
  
  .left h2 {
    padding-left: 8px;
  }
  
  /* Right column (page content) */
  .right {
    flex: 65%;
    padding: 15px;
  }
  

  #mySearch {
    width: 100%;
    font-size: 18px;
    padding: 11px;
    border: 1px solid rgb(229, 226, 226);
    transition: width 2s;
  }

  #mySearch:hover {
    width: 50%;
    /* height: 300px; */
  }
  
  /* Style the navigation menu inside the left column */
  #myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myMenu li a {
    padding: 12px;
    text-decoration: none;
    color: black;
    display: block
  }
  
  #myMenu li a:hover {
    background-color: rgb(198, 139, 139);
  }



.loading {
  font-weight: bolder;

  font-size: x-large;

  background-color: red;
}


.dropbar-right
{
  float: right;
  display: none;
}